name: Rust with post

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        rustflags: ""
    - name: Install fontconfig
      run: sudo apt update && sudo apt upgrade -y && sudo apt install libfontconfig-dev libgtk-3-dev cmake clang nasm -y
    - name: Build
      run: bash universal_build.sh release
    - name: Prepare release
      run: |
       mkdir -pv release-linux
       cp target/release/padamo-rs release-linux/
       cp -r target/release/plugins release-linux/
       cp -r target/release/assets release-linux/
       cp target/release/libonnx*.so release-linux || echo "No ONNX found. Skipping..."
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        filename: 'release-linux.zip'
        path: './release-linux'
    - name: Upload build
      uses: actions/upload-artifact@master
      with: 
        name: release-linux 
        path: release-linux.zip

  build-linux-lite:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        rustflags: ""
    - name: Install fontconfig
      run: sudo apt update && sudo apt upgrade && sudo apt install libfontconfig-dev libgtk-3-dev cmake clang nasm -y
    - name: Build
      run: bash builder-lite.sh
    - name: Prepare release
      run: |
       mkdir -pv release-linux
       cp target/release/padamo-rs release-linux/
       cp -r target/release/plugins release-linux/
       cp -r target/release/assets release-linux/
       cp target/release/libonnx*.so release-linux || echo "No ONNX found. Skipping..."
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        filename: 'release-linux-lite.zip'
        path: './release-linux'
    - name: Upload build
      uses: actions/upload-artifact@master
      with:
        name: release-linux-lite
        path: release-linux-lite.zip

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        rustflags: ""
    - uses: ilammy/msvc-dev-cmd@v1
    - name: Build
      shell: cmd
      run: |
        setx CARGO_PROFILE_RELEASE_BUILD_OVERRIDE_DEBUG true
        builder-release.bat
    - name: Prepare release
      shell: bash
      run: |
       mkdir -pv release-windows
       cp target/release/padamo-rs.exe release-windows/
       cp -r target/release/plugins release-windows/
       cp -r target/release/assets release-windows/
       cp target/release/onnx*.dll release-windows/ || echo "No ONNX found. Skipping..."
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        filename: 'release-windows.zip'
        path: './release-windows'
    - name: Upload build
      uses: actions/upload-artifact@master
      with: 
        name: release-windows
        path: release-windows.zip

  build-windows-lite:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        rustflags: ""
    
    - uses: ilammy/msvc-dev-cmd@v1
    - name: Build
      shell: cmd
      run: |
        setx CARGO_PROFILE_RELEASE_BUILD_OVERRIDE_DEBUG true
        builder-lite.bat
    - name: Prepare release
      shell: bash
      run: |
       mkdir -pv release-windows
       cp target/release/padamo-rs.exe release-windows/
       cp -r target/release/plugins release-windows/
       cp -r target/release/assets release-windows/
       cp target/release/onnx*.dll release-windows/ || echo "No ONNX found. Skipping..."
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        filename: 'release-windows-lite.zip'
        path: './release-windows'
    - name: Upload build
      uses: actions/upload-artifact@master
      with:
        name: release-windows-lite
        path: release-windows-lite.zip
  
  upload: 
    runs-on: ubuntu-latest 
    needs: [build-linux, build-windows]
    steps: 
      - name: Download linux artifact
        uses: actions/download-artifact@master 
        with: 
          name: release-linux
      - name: Download windows artifact 
        uses: actions/download-artifact@master 
        with: 
          name: release-windows
      - name: Download linux (lite) artifact
        uses: actions/download-artifact@master
        with:
          name: release-linux-lite
      - name: Download windows (lite) artifact
        uses: actions/download-artifact@master
        with:
          name: release-windows-lite
      - name: Upload Release
        uses: ncipollo/release-action@v1.12.0
        with:
          tag: v7.2.0
          artifacts: 'release-linux.zip,release-windows.zip, release-linux-lite.zip, release-windows-lite.zip'
